.container {
  text-align: center;
}

nav {
  margin: 0 10px;
}


table {
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  margin-top: .5rem;
  width: 100%;
  border-collapse: collapse;
}
table,
th,
td {
  border: 1px solid black;
}
th,
td {
  padding: 1rem;
  text-align: left;
}
.button-container {
  margin-top: .8rem;
}
.button-container button {
  margin-right: 5px;
}
